* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
}
body {
  background-color: #f2f2fe;
}

.card {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.06);
}
